.containerMoviesAndFiltersComponent{  
    display: flex;
    .ColumnFilters{ 
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        height: auto;
        background-color: #262626;
        padding: 40px 18px;
        
        p{  
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            text-align: left;
            color: #FFFFFF;
        }

        .containerSearchIcon{   
            position: relative;
            width: 100%;
        }   
        .searchIcon{    
            position: absolute;
            top: 10px;
            right: 10px;
            color: #FFFFFF;
            font-size: 24px;
        }


        .SelectFilter,
        input{  
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            background-color: #1c1c1c;
            height: 46px;
            border: none;
            color: #FFFFFF;
            outline: none;
            padding: 0px 15px;

            .ArrowDown{ 
                cursor: pointer;
            }
            
            p{  
                font-family: Inter;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.94px;
                text-align: left;
            }

        }

        .optionsActive{ 
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
            background-color: #1c1c1c;
            max-height: 300px;
            overflow-y: auto;
            p{  
                display: flex;
                align-items: center;
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.94px;
                text-align: left;
                height: 25px;
                padding: 0px 10px;
            }

            .ActiveItem,
            p:hover{    
                background-color: #454545;
            }
        }
    }

    .containerMoviesandtitle{   
        width: 80%;
        background-color: #454545;
        padding: 40px 18px;

        .title{  
            font-family: IBM Plex Sans;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            text-align: left;
            color: #FFFFFF;
            margin-bottom: 25px;
        }
    }

    .containerMoviesMin,
    .containerMoviesrow,
    .containerMovies{   
        height: auto;
        display: grid;
        align-content: center;
        justify-items: center;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;

        @media screen and (max-width:1654px){
            grid-template-columns: repeat(5, 1fr);
            
        }
        @media screen and (max-width:1340px){
            grid-template-columns: repeat(4, 1fr);
            
        }
        @media screen and (max-width:1144px){
            grid-template-columns: repeat(3, 1fr);
            
        }
        @media screen and (max-width:880px){
            grid-template-columns: repeat(2, 1fr);
            
        }
        @media screen and (max-width:608px){
            grid-template-columns: repeat(1, 1fr);
            
        }

        .CardMovie{ 
            width: 200px;
            display: flex;
            flex-direction: column;
            
            .ImageMovie{    
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 200px;
                height: 223px;
                cursor: pointer;

            }
            .containTextImage{  
                box-sizing: border-box;
                padding: 10px 10px;
                height: 113px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                background-color: #262626;
                color: #FFFFFF;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                .titleAndDate{  
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    h3{ 
                        white-space: nowrap; 
                        overflow: hidden;         
                        text-overflow: ellipsis;

                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        text-align: left;
                    }
                    p{  
                        font-family: Inter;
                        font-size: 9px;
                        font-weight: 400;
                        line-height: 10px;
                        text-align: left;
                    }
                }

                .containerIcons{  
                    width: 100%;  
                    display: flex;
                    justify-content: center;
                    gap: 35px;
                    margin-top: 10px;
                    .IconsText{ 
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        p{  
                            font-family: Inter;
                            font-size: 9px;
                            font-weight: 400;
                            line-height: 10px;
                            text-align: center;
                        }
                        .ProgressCicular{   
                            width: 27px;
                            height: auto;
                            margin-top: 5px;
                        }

                        .heartIconActive,
                        .BookmarkIcon,
                        .heartIcon{ 
                            margin-top: 5px;
                            font-size: 25px;
                        }

                        .heartIconActive{
                            color: #F0B90B;
                        }


                        .heartIcon:hover{ 
                            color: #F0B90B;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .containerMoviesMin{    
       align-content: start;
    }

    .containerMoviesrow{   
        display: flex; 
        flex-direction: row;
    }

    @media screen and (max-width:567px){
        flex-direction: column;

        .containerMoviesandtitle{   
            width: auto;
        }

        .ColumnFilters{ 
            width: 100%;
            box-sizing: border-box;
        }
        .containerMovies{   
            width: 100%;
            box-sizing: border-box;

        }
    }
}
